@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

svg path {
  fill: inherit;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "OpenSans", sans-serif;
}

/* glob */
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header,
.main,
.footer {
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 80px 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-dark);
}

:root {
  --color-dark: #333;
  --color-light: #fff;
  --color-main: #9D5CD0;
  --color-focus: #7943A4;
}

.events__swiper-pagination {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #666;
}

/* header */
.header {
  position: relative;
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.header__burger-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 36px;
  height: 28px;
  margin-right: auto;
  cursor: pointer;
}

.header__burger-btn:hover:not(:active) .header__burger-btn-string,
.header__burger-btn:focus-visible .header__burger-btn-string {
  background-color: var(--color-main);
}

.header__burger-btn:active .header__burger-btn-string {
  background-color: var(--color-focus);
}

.header__burger-btn-string {
  width: 100%;
  height: 3.65px;
  background-color: var(--color-light);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.header__burger-btn-string:nth-child(2) {
  width: 77%;
}

.header__burger-btn-string:nth-child(3) {
  width: 66%;
}

.burger-menu__close-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin-bottom: 40px;
}

.burger-menu__close-icon rect,
.search-form__close-icon rect {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.burger-menu__close-btn:hover:not(:active) .burger-menu__close-icon rect,
.burger-menu__close-btn:focus-visible:not(:active) .burger-menu__close-icon rect,
.search-form__close-btn:hover:not(:active) .search-form__close-icon rect,
.search-form__close-btn:focus-visible .search-form__close-icon rect {
  fill: var(--color-main);
}

.burger-menu__close-btn:active .burger-menu__close-icon rect,
.search-form__close-btn:active .search-form__close-icon rect {
  fill: var(--color-focus);
}

.burger-menu__btn-enter {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 88px;
  margin: 0;
  border: 2px solid var(--color-main);
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-light);
}

.burger-menu__btn-enter::before {
  visibility: hidden;
  position: absolute;
  content: "";
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
  border: 2px solid var(--color-main);
  border-radius: 100px;
  -webkit-transition: visibility 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out;
}

.burger-menu__btn-enter:active {
  border: 3px solid #D1A9F0;
  background-color: var(--color-focus);
}

.burger-menu__btn-enter:focus-visible:not(:active):before {
  visibility: visible;
}

.burger-menu__btn-enter:hover:not(:active) {
  background-color: var(--color-main);
  color: var(--color-light);
}

.header__burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
.header__burger-menu .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__burger-menu .nav__list-item {
  margin: 0;
}
.header__burger-menu .nav__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 267%;
}
.header__burger-menu .btn-enter {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.header__link-logo {
  margin-right: 10.56%;
}

.nav__list-item {
  margin-right: 62px;
}

.nav__link {
  font-weight: 600;
}

.nav__link,
.header__btn-enter {
  padding: 0 5px;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-light);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__btn-enter {
  margin-left: auto;
  font-weight: 400;
}

.btn-enter__icon {
  width: 13px;
  height: 13px;
  fill: var(--color-light);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover,
.header__btn-enter:hover {
  color: #C283F3;
}

.header__btn-enter:hover path {
  fill: #C283F3;
}

.nav__link:focus:not(:focus-visible),
.header__btn-enter:focus:not(:focus-visible) {
  background: transparent;
}

.nav__link:focus-visible,
.header__btn-enter:focus-visible {
  background: var(--color-focus);
}

.nav__link:active:not(:focus-visible),
.header__btn-enter:active:not(:focus-visible) {
  color: var(--color-focus);
}

.header__btn-enter:active path {
  fill: var(--color-focus);
}

.header__search-open-btn {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  -webkit-transition: visibility 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out;
}

.header__search-open-btn:hover:not(:active) .header__search-open-btn-icon,
.header__search-open-btn:hover:not(:active) .header__search-open-btn-icon rect {
  fill: var(--color-main);
}

.header__search-open-btn:focus-visible .header__search-open-btn-icon,
.header__search-open-btn:focus-visible .header__search-open-btn-icon rect {
  fill: var(--color-main);
}

.header__search-open-btn:active .header__search-open-btn-icon,
.header__search-open-btn:active .header__search-open-btn-icon rect {
  fill: var(--color-focus);
}

.header__search-open-btn-icon {
  width: 30px;
  height: 30px;
  fill: white;
  -webkit-transition: fill 0.1s ease-in-out;
  -o-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
}

.header__search-open-btn-icon rect {
  -webkit-transition: fill 0.1s ease-in-out;
  -o-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
}

.header__search-form.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.header__search-open-btn.remove {
  visibility: hidden;
}

.header__search-form .search-form__btn_search {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
.header__search-form .search-form__input {
  margin-right: 24px;
}

.search-form__close-btn {
  width: 27px;
  height: 27px;
}

/* styles-menu */
.menu-styles {
  width: 100%;
  padding: 25px 0;
  position: absolute;
  bottom: -70%;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-styles__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-styles__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-light);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-styles__icon {
  width: 10px;
  height: 5px;
  margin-top: 3px;
  margin-left: 3px;
  fill: none;
  stroke: var(--color-light);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu-styles__list-item {
  position: relative;
  margin-right: 97px;
}

.dropdown {
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}

.dropdown__simplebar {
  height: 200px;
  padding-right: 20px;
}

.dropdown__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.dropdown__list_real .dropdown__link_1 {
  background-image: url("../img/real_1.jpg");
}

.dropdown__list_real .dropdown__link_2 {
  background-image: url("../img/real_2.jpg");
}

.dropdown__list_real .dropdown__link_3 {
  background-image: url("../img/real_3.jpg");
}

.dropdown__list_real .dropdown__link_4 {
  background-image: url("../img/real_4.jpg");
}

.dropdown__list_impress .dropdown__link_1 {
  background-image: url("../img/impress_1.jpg");
}

.dropdown__list_impress .dropdown__link_2 {
  background-image: url("../img/impress_2.jpg");
}

.dropdown__list_impress .dropdown__link_3 {
  background-image: url("../img/impress_3.jpg");
}

.dropdown__list_impress .dropdown__link_4 {
  background-image: url("../img/impress_4.jpg");
}

.dropdown__list_postimpress .dropdown__link_1 {
  background-image: url("../img/postimpress_1.jpg");
}

.dropdown__list_postimpress .dropdown__link_2 {
  background-image: url("../img/postimpress_2.jpg");
}

.dropdown__list_postimpress .dropdown__link_3 {
  background-image: url("../img/postimpress_3.jpg");
}

.dropdown__list_postimpress .dropdown__link_4 {
  background-image: url("../img/postimpress_4.jpg");
}

.dropdown__list_avan .dropdown__link_1 {
  background-image: url("../img/avan_1.jpg");
}

.dropdown__list_avan .dropdown__link_2 {
  background-image: url("../img/avan_2.jpg");
}

.dropdown__list_avan .dropdown__link_3 {
  background-image: url("../img/avan_3.jpg");
}

.dropdown__list_avan .dropdown__link_4 {
  background-image: url("../img/avan_4.jpg");
}

.dropdown__list_future .dropdown__link_1 {
  background-image: url("../img/future_1.jpg");
}

.dropdown__list_future .dropdown__link_2 {
  background-image: url("../img/future_2.jpg");
}

.dropdown__list_future .dropdown__link_3 {
  background-image: url("../img/future_3.jpg");
}

.dropdown__list_future .dropdown__link_4 {
  background-image: url("../img/future_4.jpg");
}

.dropdown__list-item:last-child {
  margin-bottom: 0px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  background-color: #000;
  width: 2px;
}

.dropdown__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--color-light);
}

.menu-styles__btn.btn__active .menu-styles__icon {
  -webkit-transform: rotate(0.5turn);
      -ms-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.dropdown__link:hover:after {
  border: 2px solid var(--color-main);
  opacity: 1;
}

.dropdown__link:focus:after {
  border: 2px solid var(--color-main);
  opacity: 1;
}

.dropdown__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dropdown__link:active:after {
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid var(--color-main);
}

.menu-styles__btn:hover {
  color: var(--color-main);
}

.menu-styles__btn:hover .menu-styles__icon {
  stroke: var(--color-main);
}

.menu-styles__btn:active {
  color: var(--color-focus);
}

.menu-styles__btn:active .menu-styles__icon {
  stroke: var(--color-focus);
}

.menu-styles__btn:focus-visible:not(:active) {
  color: var(--color-light);
  background-color: var(--color-focus);
}

.menu-styles__btn:focus-visible:not(:active) .menu-styles__icon {
  stroke: var(--color-light);
}

.search-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.search-form__btn {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background-image: url("../img/search-loupe.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.search-form__input {
  width: 218px;
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search-form__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search-form__input:hover {
  border-bottom: 1px solid #C283F3;
}

.search-form__input:focus:not(:active) {
  border-bottom: 1px solid #C283F3;
}

.search-form__input:active {
  border-bottom: 1px solid var(--color-focus);
}

/* main */
/* hero */
.hero {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 133px;
  padding-bottom: 122px;
}

@media (min-width: 1921px) {
  .hero {
    background-image: url("../img/hero-bg-4k.jpg");
  }

  .gallery {
    background-image: url("../img/gallery-bg-4k.jpg");
  }
}
.hero__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 63%;
}

.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-light);
}

.hero__descr {
  margin: 0;
  margin-bottom: 114px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-light);
}

.hero__btn {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 22.5px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-light);
  background-color: var(--color-main);
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 4px solid #D1A9F0;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__btn:hover:before {
  opacity: 1;
}

.hero__btn:focus-visible:not(:active):before {
  top: -8%;
  left: -2%;
  width: 104%;
  height: 116%;
  opacity: 1;
  border: 2px solid #C283F3;
}

.hero__btn:active:before {
  opacity: 1;
  border: 4px solid #D1A9F0;
}

.hero__btn:active {
  background-color: var(--color-focus);
}

/* about */
.about__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 27%;
}

.about__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

/* gallery */
.gallery {
  background-image: url("../img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.selection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.gallery__title {
  color: var(--color-light);
}

.selection__select-title {
  margin-bottom: 170px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light);
}

.selection__select {
  display: block;
}

.choices__inner {
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light);
}

.choices[data-type*=select-one]::after {
  width: 13px;
  height: 8px;
  border: none;
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.choices__list {
  background-color: transparent !important;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  color: #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-light);
}

.selection__checkbox-title {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light);
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox__span {
  position: absolute;
  top: 27%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-light);
  -webkit-transition: border 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.checkbox__span::before {
  margin: auto;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: #C283F3;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.checkbox:checked + .checkbox__span::before {
  opacity: 1;
}

.checkbox:checked + .checkbox__span {
  border: 1px solid #C283F3;
}

/* swiper */
.swiper {
  width: 100%;
  height: 500px;
  margin: 0;
  margin-left: 50px;
  padding-top: 80px;
}

.swiper__image {
  width: 350px;
  height: 350px;
}

.gallery__swiper-slide {
  position: relative;
  cursor: pointer;
}

.gallery__swiper-pagination {
  top: 21px;
  left: 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  top: 45px;
  width: 30px;
  height: 30px;
  background-color: #666666;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-main);
}

.swiper-button-prev:focus:not(:active),
.swiper-button-next:focus:not(:active) {
  border: 1px solid #000;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: var(--color-focus);
  border: 1px solid #000;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  left: 95px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background-color: #ECECEC;
  opacity: 1;
}

.swiper-button-prev__icon,
.swiper-button-next__icon {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 12px;
  height: 12px;
}

.swiper-button-prev__icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 8px;
}

.swiper-button-next__icon {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper-button-next:focus:not(:active) .swiper-button-next__icon {
  top: 7px;
  left: 9px;
}

.swiper-button-prev:focus:not(:active) .swiper-button-prev__icon {
  top: 7px;
  left: 7px;
}

.swiper-button-next.swiper-button-disabled > .swiper-button-next__icon path,
.swiper-button-prev.swiper-button-disabled > .swiper-button-prev__icon path {
  stroke: #CACACA;
}

.gallery__swiper-slide::after {
  position: absolute;
  content: "";
  margin: auto;
  top: 25px;
  left: 25px;
  width: 85%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/loupe_swiper.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.gallery__swiper-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(194, 131, 243, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.gallery__swiper-slide:hover:after,
.gallery__swiper-slide:active:before {
  opacity: 1;
}

/* catalog */
.catalog {
  padding-bottom: 0;
}

.catalog__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__descr {
  max-width: 1080px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.tabs-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
  margin-right: 50px;
  display: none;
}

.tabs-content_active {
  display: block;
}

.tabs-content__logo {
  margin-bottom: 30px;
}

.tabs-content__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-dark);
}

.tabs-content__date {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.tabs-content__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.tabs-content__plug-contain {
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
  background-color: #ECECEC;
  background-image: url("../img/plug-tabs.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tabs-content__link {
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-main);
}

.accordion {
  width: 53%;
}

.accordion,
.accordion__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 330px;
  border: none;
  border-top: 1px solid #CACACA;
}

.accordion__plug {
  border: none;
}

.ui-accordion .ui-accordion-content {
  padding-left: 0;
}

.accordion__list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
  cursor: pointer;
}

.ui-accordion-header {
  border: none;
  border-top: 1px solid #CACACA;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
  background-color: transparent;
  border-radius: 0;
}

.accordion__item-title {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.accordion__item-title_last {
  border-bottom: 1px solid #CACACA;
}

.accordion__item {
  position: relative;
}

.ui-accordion-header::before {
  content: "";
  position: absolute;
  top: 26px;
  width: 150px;
  height: 32px;
  background-color: var(--color-main);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.accordion__item:hover .accordion__item-title {
  color: var(--color-main);
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.accordion__item:hover .ui-accordion-header::after {
  background-color: #D1A9F0;
}

.ui-accordion-header:focus-visible {
  color: #fff;
  z-index: 1;
}

.ui-accordion-header:focus-visible:not(.ui-accordion-header-active):after {
  background-color: #D1A9F0;
}

.ui-accordion-header:focus-visible:not(.ui-accordion-header-active):before {
  opacity: 1;
  z-index: -1;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  padding: 25px 0;
}

.ui-icon {
  display: none;
}

.ui-accordion-header.ui-accordion-header-active {
  border-top: 1px solid var(--color-focus);
  border-bottom: 1px solid var(--color-focus);
  color: var(--color-focus);
}

.ui-accordion-header.ui-accordion-header-active .ui-accordion-header::before {
  opacity: 0;
}

.ui-accordion-header::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #CACACA;
  background-image: url("../img/polygon_accordion.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ui-accordion-header-active.ui-accordion-header::after {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.plug {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plug::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 275px;
  height: 189px;
  border: 2px solid #999;
}

.plug::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 12px;
  width: 251px;
  height: 165px;
  background-color: #999;
}

.ui-accordion .ui-accordion-content.plug {
  padding: 65px 0 65px 300px;
}

.plug__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.plug__descr {
  max-width: 270px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-dark);
}

.ui-widget-content .plug__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-main);
}

.ui-widget {
  font-family: "OpenSans", sans-serif;
}

.ui-widget button {
  font-family: inherit;
  padding: 2px 0.5px;
}

.accordion__list-btn:hover {
  border-bottom: 1px solid var(--color-main);
}

.accordion__list-btn:focus-visible {
  background-color: var(--color-main);
}

.gallery-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1px;
  border-bottom: 1px solid transparent;
}

.gallery-link:hover {
  border-bottom: 1px solid var(--color-main);
}

.gallery-link:focus-visible {
  background-color: var(--color-main);
}

.gallery-link:active {
  color: var(--color-focus);
  border-bottom: 1px solid var(--color-focus);
}

/* events__swiper */
.events {
  padding-bottom: 0;
}

.events__swiper {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.events__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.events__article {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  min-height: 700px;
  padding: 312px 50px 50px 50px;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: top center;
}

.events__swiper > .swiper-slide {
  min-height: 700px;
}

.events__article-event-descr {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.events__article-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-dark);
}

.events__article-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.events__article-link {
  position: absolute;
  bottom: 50px;
  left: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
  padding: 1px;
  border-bottom: 1px solid var(--color-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-main);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.events__article_1 {
  background-image: url("../img/events-swiper_1.jpg");
}

.events__article_2 {
  background-image: url("../img/events-swiper_2.jpg");
}

.events__article_3 {
  background-image: url("../img/events-swiper_3.jpg");
}

.events__article_4 {
  background-image: url("../img/events-swiper_4.jpg");
}

.events__article_5 {
  background-image: url("../img/events-swiper_5.jpg");
}

.events__swiper-prev,
.events__swiper-next {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 410px;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.events__swiper-icon {
  width: 18px;
  height: 18px;
}

.events__swiper-prev:hover,
.events__swiper-next:hover,
.swiper__prev-btn:hover,
.swiper__next-btn:hover {
  background-color: #D1A9F0;
}

.events__swiper-prev.swiper-button-disabled,
.events__swiper-next.swiper-button-disabled,
.swiper__prev-btn.swiper-button-disabled,
.swiper__next-btn.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}

.events__swiper-prev.swiper-button-disabled .events__swiper-icon path,
.events__swiper-next.swiper-button-disabled .events__swiper-icon path,
.swiper__prev-btn.swiper-button-disabled .swiper__btn-icon path,
.swiper__next-btn.swiper-button-disabled .swiper__btn-icon path {
  stroke: #CACACA;
}

.events__swiper-prev:active,
.events__swiper-next:active,
.swiper__next-btn:active,
.swiper__prev-btn:active {
  background-color: #D1A9F0;
  border: 2px solid var(--color-main);
}

.events__swiper-prev:focus-visible,
.events__swiper-next:focus-visible,
.swiper__prev-btn:focus-visible,
.swiper__next-btn:focus-visible {
  border: 2px solid var(--color-main);
}

.events__swiper-prev {
  left: -25px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.events__swiper-next {
  right: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.events__article-link:hover {
  color: var(--color-focus);
  border-bottom: 1px solid var(--color-focus);
}

.events__article-link:active {
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
}

.events__article-link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-light);
  opacity: 0;
}

.events__article-link:focus-visible {
  color: var(--color-light);
  background-color: var(--color-main);
}

.events__article-link:focus-visible:after {
  opacity: 1;
}

/* projects */
.projects {
  padding-bottom: 0;
}

.projects__container {
  position: relative;
}

.projects__descr {
  margin: 0;
  margin-bottom: 30px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.projects__descr-tooltip {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid var(--color-main);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__descr-tooltip-icon {
  fill: black;
}

.projects__descr-tooltip:focus-visible,
.projects__descr-tooltip:hover {
  background-color: #D1A9F0;
}

.projects__descr-tooltip:active {
  background-color: var(--color-main);
}

.projects__descr-tooltip:active .projects__descr-tooltip-icon {
  fill: var(--color-light);
}

.projects__descr-tooltip::before {
  position: absolute;
  content: "В разработке...";
  top: -35px;
  left: -65px;
  width: 150px;
  height: 30px;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.projects__descr-tooltip.active::before {
  opacity: 1;
}

.projects__descr-link {
  color: var(--color-main);
  padding: 1px 1.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__descr-link:hover {
  border-bottom: 1px solid var(--color-main);
}

.projects__descr-link:focus-visible {
  background-color: var(--color-main);
  color: var(--color-light);
}

.projects__descr-link:active {
  color: var(--color-focus);
  border-bottom: 1px solid var(--color-focus);
}

.projects__title-partners {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

/* projects swiper */
.projects__swiper {
  width: calc(100% - 120px);
  height: 250px;
  padding: 0;
  margin-left: 75px;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.swiper__slides {
  max-width: 450px;
  max-height: 150px;
}

.swiper__prev-btn,
.swiper__next-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 158px;
  background-color: #ECECEC;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
}

.swiper__prev-btn {
  left: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper__next-btn {
  right: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper__btn-icon {
  width: 10px;
  height: 10px;
}

.swiper__partners-link {
  position: relative;
  display: block;
  width: 450px;
  height: 150px;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper__partners-link:focus-visible {
  border: 1px solid var(--color-main);
}

.swiper__partners-link:active {
  border: 1px solid var(--color-main);
}

.swiper__partners-link_1::before,
.swiper__partners-link_2::before,
.swiper__partners-link_3::before,
.swiper__partners-link_4::before,
.swiper__partners-link_5::before,
.swiper__partners-link_6::before,
.swiper__partners-link_7::before,
.swiper__partners-link_8::before,
.swiper__partners-link_9::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 99%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: opacity(0.5) grayscale(100%);
          filter: opacity(0.5) grayscale(100%);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.swiper__partners-link_1:hover:before,
.swiper__partners-link_2:hover:before,
.swiper__partners-link_3:hover:before,
.swiper__partners-link_4:hover:before,
.swiper__partners-link_5:hover:before,
.swiper__partners-link_6:hover:before,
.swiper__partners-link_7:hover:before,
.swiper__partners-link_8:hover:before,
.swiper__partners-link_9:hover:before,
.swiper__partners-link_1:active:before,
.swiper__partners-link_2:active:before,
.swiper__partners-link_3:active:before,
.swiper__partners-link_4:active:before,
.swiper__partners-link_5:active:before,
.swiper__partners-link_6:active:before,
.swiper__partners-link_7:active:before,
.swiper__partners-link_8:active:before,
.swiper__partners-link_9:active:before {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.swiper__partners-link_1::before {
  background-image: url("../img/swiper-partner_1.jpg");
}

.swiper__partners-link_2::before {
  background-image: url("../img/swiper-partner_2.jpg");
}

.swiper__partners-link_3::before {
  background-image: url("../img/swiper-partner_3.jpg");
}

.swiper__partners-link_4::before {
  background-image: url("../img/swiper-partner_4.jpg");
}

.swiper__partners-link_5::before {
  background-image: url("../img/swiper-partner_5.jpg");
}

.swiper__partners-link_6::before {
  background-image: url("../img/swiper-partner_6.jpg");
}

.swiper__partners-link_7::before {
  background-image: url("../img/swiper-partner_7.jpg");
}

.swiper__partners-link_8::before {
  background-image: url("../img/swiper-partner_8.jpg");
}

.swiper__partners-link_9::before {
  background-image: url("../img/swiper-partner_9.jpg");
}

/* contacts */
.contacts {
  padding: 38px 0;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.contacts__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
}

.address__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.address__geo-address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 32px;
  color: var(--color-dark);
}

.form__input {
  min-width: 270px;
  height: 50px;
  padding: 0 24px;
  border: 1px solid #333333;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form__input:hover {
  background-color: #ECECEC;
}

.form__input:focus-visible {
  background-color: #ECECEC;
}

.form__input.is-invalid {
  border: 1px solid #D11616;
}

.form__btn {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0 24px;
  border: 3px solid var(--color-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form__btn::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 90%;
  border: 1px solid var(--color-main);
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.form__btn:hover {
  background-color: var(--color-main);
  color: var(--color-light);
}

.form__btn:focus-visible:before {
  opacity: 1;
}

.form__btn:active {
  border: 3px solid #D1A9F0;
  background-color: var(--color-main);
}

.form__input-wrapper {
  position: relative;
}

.just-validate-error-label {
  position: absolute;
  top: -15px;
  left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D11616;
}

.getcall {
  margin-left: auto;
}

.getcall__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.getcall__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.getcall__link:not(:last-child) {
  margin-right: 20px;
}

.getcall__link_wa {
  background-image: url("../img/contacts-wa.svg");
}

.getcall__link_tg {
  background-image: url("../img/contacts-tg.svg");
}

.getcall__link:hover:not(:active),
.getcall__link:focus-visible {
  opacity: 0.5;
}

.getcall__link:active {
  border: 1px solid var(--color-main);
}

.map {
  padding: 0;
}

.map__container {
  width: 100%;
  max-width: 100%;
  height: 700px;
  margin: 0;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* footer */
.footer {
  background-color: #000;
}

.footer__container {
  padding: 50px 0;
}

.footer__link-logo {
  margin-right: auto;
}

.footer__social-link-icon {
  fill: #CACACA;
  -webkit-transition: fill 0.1s ease-in-out;
  -o-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
}

.footer__social-link:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link:hover:not(:active) .footer__social-link-icon,
.footer__social-link:focus-visible .footer__social-link-icon {
  fill: var(--color-light);
}

.footer__social-link:active .footer__social-link-icon {
  fill: var(--color-main);
}

@media (max-width: 1650px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .header__nav,
.header__menu-styles,
.header__btn-enter {
    display: none;
  }

  .header__search-open-btn,
.header__burger-btn {
    display: block;
  }

  .header__burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .events__swiper-pagination {
    display: block;
  }
}
@media (min-width: 1024px) and (max-width: 1650px) {
  .hero {
    padding: 105px 0 115px 0;
    background-image: url("../img/hero-bg-1024.jpg");
  }

  .selection {
    min-width: 280px;
  }

  .gallery__swiper-slide {
    width: 280px;
    height: 315px;
  }

  .swiper {
    height: 400px;
  }

  .swiper__image {
    width: 280px;
    height: 315px;
  }

  .selection__select-title {
    margin-bottom: 105px;
  }

  .accordion__list {
    max-height: 430px;
  }

  .events__article {
    min-height: 683px;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 214px;
    background-size: 100% 200px;
  }

  .events__article-link {
    left: 34px;
  }

  .events__article-title {
    margin-bottom: 5px;
  }

  .events__article-event-descr {
    margin-bottom: 4px;
    margin-left: auto;
  }

  .events__swiper-prev,
.events__swiper-next {
    display: none;
  }

  .swiper__slides {
    max-width: 384px;
    max-height: 128px;
  }

  .swiper__partners-link {
    width: 384px;
    height: 128px;
  }

  .swiper__prev-btn {
    left: 50px;
  }

  .swiper__next-btn {
    right: 50px;
  }

  .swiper__prev-btn,
.swiper__next-btn {
    bottom: 170px;
  }

  .projects__swiper {
    width: calc(100% - 60px);
    margin-left: 50px;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .address {
    margin-bottom: 30px;
  }

  .form__btn {
    min-width: 343px;
  }

  .getcall {
    margin: 0;
  }

  .contacts__form {
    margin-bottom: 30px;
  }

  .map__container {
    padding: 0;
  }

  .events__swiper {
    height: 730px;
  }
}
.header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: center;
  right: 50px;
  -webkit-transform: translateX(1000px);
      -ms-transform: translateX(1000px);
          transform: translateX(1000px);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__search-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -29px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #000;
  }
  .header__search-form .search-form__input {
    min-width: 576px;
    margin-right: auto;
  }

  .hero {
    background-image: url("../img/hero-bg-768.jpg");
  }

  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .selection {
    width: 45%;
  }

  .selection__select-title {
    margin-bottom: 40px;
  }

  .selection__checkbox-title:last-child {
    margin-bottom: 30px;
  }

  .gallery__swiper {
    height: 410px;
    margin-left: 0;
  }

  .gallery__swiper-slide,
.swiper__image {
    width: 315px;
    height: 330px;
  }

  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .accordion {
    width: 100%;
    margin-bottom: 50px;
  }

  .tabs-content {
    width: 100%;
  }

  .events__article {
    min-height: 683px;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 214px;
    background-size: 100% 200px;
  }

  .events__article-link {
    left: 34px;
  }

  .events__article-title {
    margin-bottom: 5px;
  }

  .events__article-event-descr {
    margin-bottom: 4px;
    margin-left: auto;
  }

  .events__swiper {
    height: 730px;
  }

  .events__swiper-prev,
.events__swiper-next {
    display: none;
  }

  .swiper__slides {
    max-width: 264px;
    max-height: 106px;
  }

  .swiper__partners-link {
    width: 264px;
    height: 106px;
  }

  .projects__swiper {
    height: 150px;
    margin-left: 50px;
  }

  .swiper__prev-btn {
    left: 50px;
  }

  .swiper__next-btn {
    right: 50px;
  }

  .swiper__next-btn,
.swiper__prev-btn {
    bottom: 75px;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contacts__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .address {
    margin-bottom: 30px;
  }

  .form__btn {
    width: 48%;
  }

  .form__input-wrapper {
    width: 48%;
  }

  .form__input-wrapper:first-child {
    margin-right: 4%;
  }

  .form__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .getcall {
    margin: 0;
  }

  .contacts__form {
    margin-bottom: 30px;
  }

  .map__container {
    padding: 0;
  }
}
.header__burger-menu.active {
  visibility: visible;
  opacity: 1;
}